@()(implicit request: play.api.mvc.RequestHeader)
@main("Home-MARDB") {


	<style>
			.thumbnail {
				height: 250px;
			}

			.thumbnail > .row {
				margin-top: 12px;
			}

			.myFont {
				font-size: 24px;
			}

			.panel-default > .panel-heading {
				/*background:transparent;*/
			}


	</style>
	<div class="row">
		<div class="col-md-9" style="margin-top: 15px">
			<div>
				<p class="text-justify">
					Marmots are large Holarctic rodents in the genus Marmota with 14 living species. Most marmot species occupy a harsh environment characterized by a long, cold season without food. Their physiology is highly adapted to cope with this condition by hibernating in burrows. Global warming since the last ice age has reduced the geographic distribution of some of the marmots. The plagues in some marmots are known to co-occur with human epidemics in the same area, which give rise to a unique surveillance and a major public health concern. MarmotDB database aims to collect the currently available marmots’ genomic data and to characterize the molecular mechanism of hibernating and plague infection by comparisons of the expression profiles from different hibernators and plague hosts or transmitters.
				</p>
			</div>

			<h3 class="panel-title" style="margin-top: 38px;margin-bottom: 10px"> World Marmot</h3>
			<hr style="margin-bottom: 15px;margin-top: 5px;border-top: 1px solid #0D4D79;">
					<div class="row">
						<div class="col-sm-6">
							<img src="@routes.Assets.at("images/map.png")" style="width: 100%">
						</div>
						<style>
								.mySquare {
									font-size: 19px;
								}
						</style>
						<div class="col-sm-4" style="margin-top: 5px;
							font-size: 15px;line-height: 2em;text-indent: 5em">
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#himalayan"> Marmota himalayana</a>
							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#alpine"> Marmota marmota</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#long-tailed">	Marmota caudata</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#gray"> Marmota baibacina</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#mongolia"> Marmota sibirica</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#alaska"> Marmota broweri</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#woodchuck"> Marmota monax</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#olympic"> Marmota olympus</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#yellow"> Marmota flaviventris</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#hoary"> Marmota caligata</a>
							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#menzbier"> Marmota menzbieri</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#black"> Marmota camtschatica</a>

							</div>
							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#bobak"> Marmota bobak</a>

							</div>

							<div class="col-sm-12">
								<a href="@routes.AppController.toIntroduction()#vancouver"> Marmota vancouverensis</a>

							</div>





						</div>


					</div>

		</div>
		<div class="col-md-3">

			<div align="center" style="margin-top: 20px">
				<video src="@routes.Assets.at("videos/附件7.5.mp4")" style="width: 95%;
					margin-bottom: 20px" controls>
				</video>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-list"></i> Release notes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right"></i>
							Himalayan marmot genome paper is published in iScience. [January 2019] [<a href="https://www.cell.com/iscience/fulltext/S2589-0042(18)30224-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2589004218302244%3Fshowall%3Dtrue" target="_blank">Full Text</a>]
						</li>
						<li><i class="fa fa-chevron-circle-right"></i>
							Himalayan marmot genome is publicly accessible. [September 2018]
						</li>
						<li><i class="fa fa-chevron-circle-right"></i>
							Alpine marmot and Yellow-bellied marmot genome are publicly accessible. [December 2017]
						</li>
						<li><i class="fa fa-chevron-circle-right"></i>
							iMarmot Database is available online. [April 2017]
						</li>



					</ul>
				</div>
			</div>
		</div>

	</div>

	<div class="row" style="margin: 15px 0px">
		<div class="page-footer" style="background: transparent;
			font-size: 13px;
			padding: 12px 0px;">
			<div class="col-md-9">
				<div style="text-align: center;
					color: #555">
					Copyright © 2018 Laboratory Animal Center, Xi’an Jiaotong University Health Science Center. All Rights Reserved.
				</div>
			</div>

		</div>
	</div>

	<script>

	</script>
}
