@(geneId: Option[String])(implicit request: play.api.mvc.RequestHeader)
@main("Search-MARDB") {
	<style>
		.form-group{
			margin-top: 20px;
		}

	</style>
	<input type="hidden" id="myGeneId" value="@geneId">
	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4">Search</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="bs-docs-sidebar" role="complementary">
				<ul class="nav bs-docs-sidenav">
					<li class="active"><a href="#keyword" data-toggle="tab">Keyword</a></li>
					<li><a href="#condition" data-toggle="tab">Gene ID</a></li>
					<li><a href="#circ" data-toggle="tab">Gene Name</a></li>
					<li><a href="#region" data-toggle="tab">Region</a></li>
				</ul>
			</div>
		</div>

		<div class="col-sm-8 tab-content myform" >

			<div class="tab-pane active" id="keyword">
				<form class="form-horizontal" method="get" id="keywordForm">
					<div class="form-group">
						<label class="control-label col-sm-2">Keyword:</label>
						<div class="col-sm-8">
							<input name="keyword" class="form-control" >
						</div>
					</div>
					<div class="form-group">
						<div class="actions col-sm-offset-3 col-sm-3">
							<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Search.keywordSearch">
								Search</button>
						</div>
					</div>
				</form>
			</div>

			<div class="tab-pane" id="condition">
				<form class="form-horizontal" method="get" id="geneIdForm">

					<div class="form-group">
						<label class="control-label col-sm-2">Species:</label>
						<div class="col-sm-10" >
							<div class='radio' id='species'></div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">Gene ID:</label>
						<div class="col-sm-8">
							@if(geneId.isDefined) {
								<textarea name="geneId" class="form-control" rows="5">@geneId</textarea>
							} else {
								<textarea name="geneId" class="form-control" rows="5"></textarea>
							}

							<span class="help-block">e.g.,&nbsp;<a href="#"><em id="egGeneId">
								Mar00001,Mar00004,Mar00008</em></a></span>
						</div>
					</div>
					<div class="form-group">
						<div class="actions col-sm-offset-3 col-sm-3">
							<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Search.geneIdSearch">
								Search</button>
						</div>
					</div>
				</form>
			</div>
				<!--Transcript -->
			<div class="tab-pane" id="circ">
				<form class="form-horizontal" action="circInfo" method="get" id="geneNameForm">

					<div class="form-group">
						<label class="control-label col-sm-2">Species:</label>
						<div class="col-sm-10" >
							<div class='radio' id='species'></div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2">Gene Name:</label>
						<div class="col-sm-8">
							<textarea name="geneName" id="geneName" class="form-control" rows="5"></textarea>
							<span class="help-block">e.g.,&nbsp;<a href="#"><em id="egGeneName">
								Ankrd45,Dnah1,Foxd2</em></a></span>
						</div>
					</div>
					<div class="form-group">
						<div class="actions col-sm-offset-3 col-sm-3">
							<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Search.geneNameSearch">
								Search</button>
						</div>
					</div>
				</form>
			</div>

			<div id="region" class="tab-pane">
				<form class="form-horizontal" method="get" action="circInfoByPositon" id="regionForm">

					<div class="form-group">
						<label class="control-label col-sm-2">Species:</label>
						<div class="col-sm-10" >
							<div class='radio' id='species'></div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Chromosome:</label>
						<div class="col-sm-3">
							<input class="form-control chr" name="chr" id="chr">
						</div>
						<label class="control-label">e.g., <a href="#"><em id="egChr">scaffold1</em></a></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Start:</label>
						<div class="col-sm-3">
							<input class="form-control" name="start" id="start">
						</div>
						<label class="control-label">e.g., <a href="#"><em id="egStart">15</em></a></label>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">End:</label>
						<div class="col-sm-3">
							<input class="form-control" name="end" id="end">
						</div>
						<label class="control-label">e.g., <a href="#"><em id="egEnd">2000000</em></a></label>
					</div>
					<div class="form-group">
						<div class="actions col-sm-offset-3 col-sm-3">
							<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Search.regionSearch">
								Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="result" style="display: none">
		<hr>
		<div id="toolbar">
				&nbsp;Filter：
		</div>

		<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
		data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="left" data-multiple-search="true"
		style="
			word-wrap: break-word"
		>
			<thead>
			</thead>
		</table>
	</div>


	<script>
			$(function () {
				formValidation()
			    Search.init

				function extractor(query) {
					var result = /([^,]+)$/.exec(query);
					if (result && result[1])
						return result[1].trim();
					return '';
				}

				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
					// 获取已激活的标签页的名称
					var activeTab = $(e.target).text();
					// 获取前一个激活的标签页的名称
					var previousTab = $(e.relatedTarget).text();
					$("#result").hide()
				});

				$('#egChr').click(function () {
					var eg = $(this).text().trim();
					$('#chr').val(eg);
					$("#regionForm").formValidation("revalidateField", "chr")
				});
				$('#egStart').click(function () {
					var eg = $(this).text().trim();
					$('#start').val(eg);
					$("#regionForm").formValidation("revalidateField", "start")
				});
				$('#egEnd').click(function () {
					var eg = $(this).text().trim();
					$('#end').val(eg);
					$("#regionForm").formValidation("revalidateField", "end")
				});

				$.ajax({
					url: "@routes.SearchController.getAllGeneNames()",
					async: false,
					type: "get",
					success: function (data) {
						$('#geneName').typeahead({
							source: data,
							updater: function (item) {
								return this.$element.val().replace(/[^,]*$/, '') + item + ',';
							},
							matcher: function (item) {
								var tquery = extractor(this.query);
								if (!tquery) return false;
								return ~item.toLowerCase().indexOf(tquery.toLowerCase())
							},
							highlighter: function (item) {
								var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
								return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
									return '<strong>' + match + '</strong>'
								})
							}
						})
					}
				})

				$.ajax({
					url: "@routes.SearchController.getAllGeneIds()",
					async: false,
					type: "get",
					success: function (data) {
						$('#geneIdForm #geneId').typeahead({
							source: data,
							updater: function (item) {
								return this.$element.val().replace(/[^,]*$/, '') + item + ',';
							},
							matcher: function (item) {
								var tquery = extractor(this.query);
								if (!tquery) return false;
								return ~item.toLowerCase().indexOf(tquery.toLowerCase())
							},
							highlighter: function (item) {
								var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
								return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
									return '<strong>' + match + '</strong>'
								})
							}
						})
					}
				})

				$('#egGeneId').click(function () {
					var eg = $("#egGeneId").text().trim()
					$("textarea[name='geneId']").val(eg)
					$("#geneIdForm").formValidation("revalidateField", "geneId")
				});

				$('#egGeneName').click(function () {
					var eg = $("#egGeneName").text().trim();
					$('#geneName').val(eg);
					$("#geneNameForm").formValidation("revalidateField", "geneName")
				});

				$('#table').bootstrapTable({});

			})

			function formValidation() {
				$('#keywordForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						keyword: {
							validators: {
								notEmpty: {
									message: 'Keyword is required！'
								},
							}
						},
					}
				});

				$('#geneIdForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						geneId: {
							validators: {
								notEmpty: {
									message: 'Gene Id is required！'
								},
							}
						},
					}
				});
				$('#geneNameForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						geneName: {
							validators: {
								notEmpty: {
									message: 'Gene Name is required！'
								},
							}
						},
					}
				});
				$('#regionForm').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						chr: {
							validators: {
								notEmpty: {
									message: 'Chromosome is required！'
								},
							}
						},
						start: {
							validators: {
								notEmpty: {
									message: 'Start is required！'
								},
								integer: {
									message: 'Start must be integer！'
								},

							}
						},
						end: {
							validators: {
								notEmpty: {
									message: 'End is required！'
								},
								integer: {
									message: 'End must be integer！'
								},

							}
						},
					}
				});

			}

			function setColumns(value) {
				var element = $("input:checkbox[value=" + value + "]")
				if (element.is(":checked")) {
					$('#table').bootstrapTable('showColumn', value);
				} else {
					$('#table').bootstrapTable('hideColumn', value);
				}
			}
	</script>


}