@()(implicit request: play.api.mvc.RequestHeader)
@main("KEGG to genes-MARDB") {

	<style>

			.radio, .checkbox {
				position: relative;
				display: block;
				margin-top: 5px;
				margin-bottom: 10px;
			}
	</style>

	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4">KEGG to genes</h2>
		</div>
	</div>

	<form class="registration-form form-horizontal" id="form" accept-charset="UTF-8">

		<div class="form-group">
			<label class="control-label col-sm-2">Species:</label>
			<div class="col-sm-10" >
				<div class='radio' id='species'></div>
			</div>
		</div>

		<div class="form-group">
			<div class="actions col-sm-offset-2 col-sm-3">
				<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="Kegg.mySearch">
					Search</button>
			</div>
		</div>


	</form>
	<hr>

	<div id="content" style="display: none">
		<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
		data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true"
		style="word-wrap: break-word"
		>
			<thead>
				<tr>
					<th data-field='id' data-sortable='true' >Pathway_ID</th>
					<th data-field='pathway' data-sortable='true'>Pathway</th>
					<th data-field='geneNumber' data-sortable='true' >Gene_Number</th>
					<th data-field='geneId' data-sortable='true' data-formatter="Kegg.genesFmt">Gene_ID</th>
				</tr>
			</thead>
		</table>

	</div>

	<script>
			$(function () {
				Kegg.init
			})
	</script>


}
