@()(implicit request: play.api.mvc.RequestHeader)
@main("Contact-MARDB") {

	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4">
				Contact
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="paragraph" style="font-size: 15px;
			margin-left: 20px">
			Laboratory Animal Center, Xi’an Jiaotong University Health Science Center,
			No.76, Yanta West Road, Xi’an City, Shaanxi Province, 710061, China<br>
			Tel: 86-029-82657057; <br>
			Fax: 86-029-82657057<br>
			E-mail:
			<a href="mailto:liuenqi@@xjtu.edu.cn">liuenqi@@xjtu.edu.cn</a>
		</div>
	</div>


	<script>
			$(function () {
			})

	</script>

}